@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll-sm::-webkit-scrollbar{
    @apply w-[5px];
}

.custom-scroll-sm::-webkit-scrollbar-thumb{
    @apply rounded-3xl;
    @apply bg-lightgray;
}

.ag-theme-material .ag-header-cell-label{
font-size: 14px;
}
.ag-theme-material{
    z-index:1;
}
.ag-theme-material .ag-cell{
    font-size: 14px;
}

.ag-header-cell{
    @apply border-r;
    @apply bg-primary;
    @apply text-black;
}
.ag-header-row{
    /* @apply flex; */
}

.ag-cell{
    @apply border-r !important;
    @apply border-r-gray-300 !important;
    @apply bg-secondary !important;
}

.ag-cell-focus{
    @apply border-[2px] !important;
    @apply border-[#4845ff93] !important;
}

.ag-theme-material {
    --ag-checkbox-checked-color: #4945FF !important;
    --ag-checkbox-unchecked-color: #a19f9f !important;
    --ag-checkbox-indeterminate-color: #4845ff93 !important;
}

.ag-checkbox-inpu{
    @apply hover:cursor-pointer !important;
}